<table class="table table-hover">
    <thead>
        <tr class="justify-content-between">
            <th>ID</th>
            <th>Fullname</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a class="btn btn-app editBtn" data-toggle="modal" data-target="#modal-update"
                    onclick="editBtnClick(this)">
                    <i class="fas fa-edit"></i> Edit
                </a>
                <a class="btn btn-app deleteBtn" data-toggle="modal" data-target="#modal-delete"
                    onclick="deleteBtnClick(this)">
                    <i class="fas fa-trash"></i> Delete
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between align-items-center">
    <!-- Paging -->
    <nav class="d-flex justify-content-center align-items-center">
        <ul class="pagination">
            <li th:if="${currentPage} > 1" class="page-item">
                <a class="page-link" th:attr="onclick='loadListUsersData(' + (${currentPage} - 1) + ')'">Prev</a>
            </li>

            <li th:each="pageNumber : ${#numbers.sequence(1, totalPages)}"
                th:class="${pageNumber == currentPage} ? 'page-item active' : 'page-item'">
                <a class="page-link" th:text="${pageNumber}"
                    th:attr="onclick='loadListUsersData(' + (${pageNumber}) + ')'"></a>
            </li>

            <li th:if="${currentPage} < ${totalPages}" class="page-item">
                <a class="page-link" th:attr="onclick='loadListUsersData(' + (${currentPage} + 1) + ')'">Next</a>
            </li>
        </ul>
    </nav>

    <p id="totalUserDisplay" class="mb-0 pr-3" th:text="'Total: ' + ${userCount}"></p>
</div>