<!DOCTYPE html>
<html lang="en">

<head>
    <title>AdminLTE 3 | Registration Page</title>

    <span th:replace="~{authentication/head :: head}"></span>
</head>

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Register a new membership</p>
                <div th:if="${param.success}" class="alert alert-success">Register successfully</div>

                <form th:action="@{register/save}" th:object="${user}" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full name" name="name" th:field="*{name}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <p th:errors="*{name}" style="color: red;" th:if="${#fields.hasErrors('name')}">Name is empty</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" th:field="*{email}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <p th:errors="*{email}" style="color: red;" th:if="${#fields.hasErrors('email')}">Email is empty</p>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <p th:errors="*{password}" style="color: red;" th:if="${#fields.hasErrors('password')}">Password is empty</p>
                    
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a th:href="@{/login}" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

    <span th:replace="~{authentication/script :: script}"></span>
</body>

</html>